## Modulo 6 
1. Identificar cuando usar una lista
2. Crear una lista 
3. Obtener acceso a un elemento determinado de una lista mediante indices 
4. Insertar elementos al final de una lista. Ordenar y dividir una lista

In [1]:
# Crear una lista
#Para crear una lista se puede poner una variable con ['',]

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# Acceder a un elemento de la lista 
#Para poder acceder al elemento de cualquier elemento de la lista primero se pone el indice entre []
#Despues del nombre de la variable de la lista 
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

In [ ]:
#Longitud de la lista 
number_of_planets = len(planets) #Usamos la funcion len 
print('There are', number_of_planets, 'planets in the solar system.')

In [ ]:
#Agregar valores a listas 
planets.append('Pluto') #debes de usar .append 
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

In [ ]:
#Eliminar valores de una lista 
planets.pop()  # usamos .pop() para eliminar el último elemento de la lista
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

In [11]:
#Indices negativos
#Se coloca en la posicion -1, esta posicion retorna a la ultima posicion de la lista 
#Es lo mismo para la -2 ira al penúltimo dato de la lista y así sucesivamente 
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

In [10]:
#Buscar un valor en una lista

jupiter_index = planets.index('Jupiter') #Utilizamos index para buscar un elemento en la lista
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')   #En caso de no encontrarlo se devolvera un -1

Jupiter is the 5 planet from the sun

In [ ]:
#Almacenar numeros en listas 
#Tenemos la primera variable que es float que nos deja ingresar numeros decimales 
gravity_on_earth = 1.0 #Estos son numeros decimales 
gravity_on_the_moon = 0.166

bus_weight = 12650 # in kilograms, on Earth
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg') #aqui tenemos un ejemplo multiplicando *

In [ ]:
#min() y max() devuelven los numeros mas pequeños o mas grandes de la lista respectivamente
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

## MANIPULAR DATOS DE LISTAS

1. SLICE LIST
2. UNIENDO LISTAS
3. ORDENAR LISTAS

In [ ]:
#slice es la que nos permite utilizar solo una parte de la lista 
#Se expresa en corchetes y se coloca la posicion inicial y final -> [0:2]

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth) #En esta parte no se incluye a la tierra porque el indice acaba antes 

planets_after_earth = planets[3:8] #Aqui se especifican a los planetas que van despues de la tierra 
print(planets_after_earth)

In [8]:
#Uniendo listas, para unir listas podemos usar "+" 

amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons #Se crea una nueva variable para unir las listas 
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [9]:
#Ordenar listas 
#Para ordenar las listas utilizamos el metodo .sort las ordenara de forma alfabetica o numerica 
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

regular_satellite_moons.sort(reverse=True) #Se usa .sort(reverse=True) para invertir el orden 
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']